.supplierRendererContainer {
    cursor: pointer;
    font-size: 12px;
    padding: 5px;
    border: 1px solid gray;
    margin: 5px;
}

.supplierRenderer {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.rank {
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

.centerPart {
    margin: 0 10px;
    text-align: left;
    display: inline-block;
    vertical-align:  middle;
}

.tagContainer {
    text-align: left;
    padding: 5px 0px;
}

.category {
    display: inline-block;
    margin-right: 5px;
    padding: 2px 5px;
    background-color: white;
    color: black;
    border-radius: 2px;
    font-size: 8px;
}